.list-filter-box {
    position : relative;
    border : 1px solid #e0e0e0;
    margin-bottom : 25px;
    padding : 10px;
    font-size : 12px;
    color : #555555;
    .selected {
        background-color :#e74c3c; 
        color : #fff;
    }

    .down-more{
        position : absolute;
        bottom : -20px;
        left : 50%;
        width : 50px;
        height : 20px;
        overflow : hidden;
        margin-left : -30px;
        line-height : 22px;
        .border-radius;
        border : 1px solid #e0e0e0;
        border-top-width : 0;
        text-align : center;
    }
}

.list-sort-box {
    overflow : hidden;
    padding-bottom : 7px;
    margin-top : 10px;
    margin-bottom : 10px;
    border-bottom : 1px dashed #e0e0e0;
    li {
        .fl;
        padding : 2px 5px;
        margin-right : 8px;
    }
    .first {
        font-weight : 700;
        padding-left : 0px;
    }
}

.list-filter {
    dl {
        overflow : hidden;
    }
    dt , dd {
        .inline-block;
        overflow : hidden;
    }
    dt {
        margin-right : 8px;
    }
    dd {
        a {
            padding : 2px 5px;
            margin-right : 8px;
        }
    }

}

.list-title-box {
    margin-bottom : 10px;
    border-bottom : 1px solid #ccc;

    .title-wrap {
        font-size : 14px; 
        h1 , h2 ,h3 {
            line-height : 36px;
        }
        .fl;
        strong {
            color : #1badb6;
            font-size : 18px;
            font-family : @yahei;
            padding : 0px 3px;
        }
    }

}

.switch-result-tab {
    .fr;
    font-size : 12px;
    margin-top : 8px;
    margin-right : 10px;
    button {
        border-width: 0px;
        background-color: #00B5AD;
        color: #fff;
        padding: 4px 10px;
        line-height: 18px;
        .border-radius;
    }
    
    .btn_1 {
        background-color: #E74C3C; 
    }
}

.list-box {
    
    .item-box {
        width: 100%;
        margin-bottom : 10px; 
        a {
            color : #545454;
        }
        .item {
            padding : 10px;
            border : 1px solid #e0e0e0;
        }

        .img-wrap {
            .fl;
            width : 30%;
            height : 130px;
            overflow : hidden;
            margin-right : 10px;
        }

        dl {
            
            dt {
               font-size : 14px;
               font-family : @yahei;
               line-height : 24px; 
               color : #009FDA;
            } 
            dd {
                font-size : 13px;
                line-height : 1.8em;
                em {
                    font-weight : 700;
                }
            }
        
        }
    
    }


}

.list-img-box {
    margin-top : 100px;
    overflow : hidden;
    .item-box {
        width : 25%;
        float : left;
        .item {
            padding : 5px;
            margin-right : 5px;
        }

        .img-wrap {
            padding : 0px; 
            float : none;
            width : 100%;
            height : 60px;
        }
    }


}



